In [57]:
import pandas as pd
import numpy as np

In [58]:
import warnings
warnings.filterwarnings('ignore')
pd.set_option('max_column', None)
db = pd.read_csv(r'C:\Users\sam\Desktop\Telecommunication_data_analysis\data\Week1_challenge_data_source(CSV).csv', engine = 'python')
db.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,42.0,5.0,23.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,NaN,NaN,NaN,NaN,NaN,NaN,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,65.0,5.0,16.0,26.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),NaN,NaN,NaN,NaN,NaN,NaN,971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),NaN,NaN,NaN,NaN,NaN,NaN,751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,NaN,NaN,44.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,3330.0,37882.0,1.321510e+09,undefined,undefined,NaN,NaN,NaN,NaN,NaN,NaN,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,NaN,NaN,NaN,NaN,NaN,NaN,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [59]:
# column names
db.columns.tolist()

['Bearer Id',
 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'HTTP DL (Bytes)',
 'HTTP UL (Bytes)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

In [60]:
# number of data points
print(f" There are {db.shape[0]} rows and {db.shape[1]} columns")

 There are 150001 rows and 55 columns

In [61]:
# how many missing values exist or better still what is the % of missing values in the dataset?
def percent_missing(df):

    # Calculate total number of cells in dataframe
    totalCells = np.product(df.shape)

    # Count number of missing values per column
    
    missingCount = df.isnull().sum()

    # Calculate total number of missing values
    totalMissing = missingCount.sum()

    # Calculate percentage of missing values
    print("The Telecom dataset contains", round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

percent_missing(db)

The Telecom dataset contains 12.5 % missing values.

In [ ]:
# Now which column(s) has missing values
db.isna().sum()

In [62]:
# drop columns with more than 50% missing values
df_clean = db.drop(['TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)', 'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 
                    'Nb of sec with 125000B < Vol DL', 'Nb of sec with 1250B < Vol UL < 6250B','Nb of sec with 31250B < Vol DL < 125000B',
                   'Nb of sec with 37500B < Vol UL','Nb of sec with 6250B < Vol DL < 31250B','Nb of sec with 6250B < Vol UL < 37500B'], axis=1)
df_clean.shape

(150001, 45)

In [63]:
df_clean.isna().sum()

Bearer Id                           991
Start                                 1
Start ms                              1
End                                   1
End ms                                1
Dur. (ms)                             1
IMSI                                570
MSISDN/Number                      1066
IMEI                                572
Last Location Name                 1153
Avg RTT DL (ms)                   27829
Avg RTT UL (ms)                   27812
Avg Bearer TP DL (kbps)               1
Avg Bearer TP UL (kbps)               1
DL TP < 50 Kbps (%)                 754
50 Kbps < DL TP < 250 Kbps (%)      754
250 Kbps < DL TP < 1 Mbps (%)       754
DL TP > 1 Mbps (%)                  754
UL TP < 10 Kbps (%)                 792
10 Kbps < UL TP < 50 Kbps (%)       792
50 Kbps < UL TP < 300 Kbps (%)      792
UL TP > 300 Kbps (%)                792
Activity Duration DL (ms)             1
Activity Duration UL (ms)             1
Dur. (ms).1                           1
Handset Manufacturer                572
Handset Type                        572
Nb of sec with Vol DL < 6250B       755
Nb of sec with Vol UL < 1250B       793
Social Media DL (Bytes)               0
Social Media UL (Bytes)               0
Google DL (Bytes)                     0
Google UL (Bytes)                     0
Email DL (Bytes)                      0
Email UL (Bytes)                      0
Youtube DL (Bytes)                    0
Youtube UL (Bytes)                    0
Netflix DL (Bytes)                    0
Netflix UL (Bytes)                    0
Gaming DL (Bytes)                     0
Gaming UL (Bytes)                     0
Other DL (Bytes)                      0
Other UL (Bytes)                      0
Total UL (Bytes)                      1
Total DL (Bytes)                      1
dtype: int64

- filling the next cell missing values with the mode or median value cause it more likely to occur

In [64]:
df_clean['DL TP < 50 Kbps (%)'] = df_clean['DL TP < 50 Kbps (%)'].fillna(df_clean['DL TP < 50 Kbps (%)'].mean())
df_clean['50 Kbps < DL TP < 250 Kbps (%)'] = df_clean['50 Kbps < DL TP < 250 Kbps (%)'].fillna(df_clean['50 Kbps < DL TP < 250 Kbps (%)'].mean())
df_clean['250 Kbps < DL TP < 1 Mbps (%)'] = df_clean['250 Kbps < DL TP < 1 Mbps (%)'].fillna(df_clean['250 Kbps < DL TP < 1 Mbps (%)'].mean())
df_clean['DL TP > 1 Mbps (%)'] = df_clean['DL TP > 1 Mbps (%)'].fillna(df_clean['DL TP > 1 Mbps (%)'].mean())
df_clean['UL TP < 10 Kbps (%)'] = df_clean['UL TP < 10 Kbps (%)'].fillna(df_clean['UL TP < 10 Kbps (%)'].mean())
df_clean['10 Kbps < UL TP < 50 Kbps (%)'] = df_clean['10 Kbps < UL TP < 50 Kbps (%)'].fillna(df_clean['10 Kbps < UL TP < 50 Kbps (%)'].mean())
df_clean['50 Kbps < UL TP < 300 Kbps (%)'] = df_clean['50 Kbps < UL TP < 300 Kbps (%)'].fillna(df_clean['50 Kbps < UL TP < 300 Kbps (%)'].mean())
df_clean['UL TP > 300 Kbps (%)'] = df_clean['UL TP > 300 Kbps (%)'].fillna(df_clean['UL TP > 300 Kbps (%)'].mean())

In [65]:
df_clean.isna().sum()

Bearer Id                           991
Start                                 1
Start ms                              1
End                                   1
End ms                                1
Dur. (ms)                             1
IMSI                                570
MSISDN/Number                      1066
IMEI                                572
Last Location Name                 1153
Avg RTT DL (ms)                   27829
Avg RTT UL (ms)                   27812
Avg Bearer TP DL (kbps)               1
Avg Bearer TP UL (kbps)               1
DL TP < 50 Kbps (%)                   0
50 Kbps < DL TP < 250 Kbps (%)        0
250 Kbps < DL TP < 1 Mbps (%)         0
DL TP > 1 Mbps (%)                    0
UL TP < 10 Kbps (%)                   0
10 Kbps < UL TP < 50 Kbps (%)         0
50 Kbps < UL TP < 300 Kbps (%)        0
UL TP > 300 Kbps (%)                  0
Activity Duration DL (ms)             1
Activity Duration UL (ms)             1
Dur. (ms).1                           1
Handset Manufacturer                572
Handset Type                        572
Nb of sec with Vol DL < 6250B       755
Nb of sec with Vol UL < 1250B       793
Social Media DL (Bytes)               0
Social Media UL (Bytes)               0
Google DL (Bytes)                     0
Google UL (Bytes)                     0
Email DL (Bytes)                      0
Email UL (Bytes)                      0
Youtube DL (Bytes)                    0
Youtube UL (Bytes)                    0
Netflix DL (Bytes)                    0
Netflix UL (Bytes)                    0
Gaming DL (Bytes)                     0
Gaming UL (Bytes)                     0
Other DL (Bytes)                      0
Other UL (Bytes)                      0
Total UL (Bytes)                      1
Total DL (Bytes)                      1
dtype: int64

In [66]:
df_clean['Handset Manufacturer'] = df_clean['Handset Manufacturer'].fillna(df_clean['Handset Manufacturer'].mode()[0])
df_clean['Handset Type'] = df_clean['Handset Type'].fillna(df_clean['Handset Type'].mode()[0])

In [67]:
df_clean.isna().sum()

Bearer Id                           991
Start                                 1
Start ms                              1
End                                   1
End ms                                1
Dur. (ms)                             1
IMSI                                570
MSISDN/Number                      1066
IMEI                                572
Last Location Name                 1153
Avg RTT DL (ms)                   27829
Avg RTT UL (ms)                   27812
Avg Bearer TP DL (kbps)               1
Avg Bearer TP UL (kbps)               1
DL TP < 50 Kbps (%)                   0
50 Kbps < DL TP < 250 Kbps (%)        0
250 Kbps < DL TP < 1 Mbps (%)         0
DL TP > 1 Mbps (%)                    0
UL TP < 10 Kbps (%)                   0
10 Kbps < UL TP < 50 Kbps (%)         0
50 Kbps < UL TP < 300 Kbps (%)        0
UL TP > 300 Kbps (%)                  0
Activity Duration DL (ms)             1
Activity Duration UL (ms)             1
Dur. (ms).1                           1
Handset Manufacturer                  0
Handset Type                          0
Nb of sec with Vol DL < 6250B       755
Nb of sec with Vol UL < 1250B       793
Social Media DL (Bytes)               0
Social Media UL (Bytes)               0
Google DL (Bytes)                     0
Google UL (Bytes)                     0
Email DL (Bytes)                      0
Email UL (Bytes)                      0
Youtube DL (Bytes)                    0
Youtube UL (Bytes)                    0
Netflix DL (Bytes)                    0
Netflix UL (Bytes)                    0
Gaming DL (Bytes)                     0
Gaming UL (Bytes)                     0
Other DL (Bytes)                      0
Other UL (Bytes)                      0
Total UL (Bytes)                      1
Total DL (Bytes)                      1
dtype: int64

In [68]:
df_clean['Nb of sec with Vol DL < 6250B'] = df_clean['Nb of sec with Vol DL < 6250B'].fillna(df_clean['Nb of sec with Vol DL < 6250B'].median())
df_clean['Nb of sec with Vol UL < 1250B'] = df_clean['Nb of sec with Vol UL < 1250B'].fillna(df_clean['Nb of sec with Vol UL < 1250B'].median())
df_clean['Avg RTT DL (ms)'] = df_clean['Avg RTT DL (ms)'].fillna(df_clean['Avg RTT DL (ms)'].median())
df_clean['Avg RTT UL (ms)'] = df_clean['Avg RTT UL (ms)'].fillna(df_clean['Avg RTT UL (ms)'].median())

In [69]:
df_clean.isna().sum()

Bearer Id                          991
Start                                1
Start ms                             1
End                                  1
End ms                               1
Dur. (ms)                            1
IMSI                               570
MSISDN/Number                     1066
IMEI                               572
Last Location Name                1153
Avg RTT DL (ms)                      0
Avg RTT UL (ms)                      0
Avg Bearer TP DL (kbps)              1
Avg Bearer TP UL (kbps)              1
DL TP < 50 Kbps (%)                  0
50 Kbps < DL TP < 250 Kbps (%)       0
250 Kbps < DL TP < 1 Mbps (%)        0
DL TP > 1 Mbps (%)                   0
UL TP < 10 Kbps (%)                  0
10 Kbps < UL TP < 50 Kbps (%)        0
50 Kbps < UL TP < 300 Kbps (%)       0
UL TP > 300 Kbps (%)                 0
Activity Duration DL (ms)            1
Activity Duration UL (ms)            1
Dur. (ms).1                          1
Handset Manufacturer                 0
Handset Type                         0
Nb of sec with Vol DL < 6250B        0
Nb of sec with Vol UL < 1250B        0
Social Media DL (Bytes)              0
Social Media UL (Bytes)              0
Google DL (Bytes)                    0
Google UL (Bytes)                    0
Email DL (Bytes)                     0
Email UL (Bytes)                     0
Youtube DL (Bytes)                   0
Youtube UL (Bytes)                   0
Netflix DL (Bytes)                   0
Netflix UL (Bytes)                   0
Gaming DL (Bytes)                    0
Gaming UL (Bytes)                    0
Other DL (Bytes)                     0
Other UL (Bytes)                     0
Total UL (Bytes)                     1
Total DL (Bytes)                     1
dtype: int64

In [70]:
df_clean = df_clean.dropna(subset=['Start'])

In [71]:
df_clean.isna().sum()

Bearer Id                          990
Start                                0
Start ms                             0
End                                  0
End ms                               0
Dur. (ms)                            0
IMSI                               569
MSISDN/Number                     1065
IMEI                               571
Last Location Name                1152
Avg RTT DL (ms)                      0
Avg RTT UL (ms)                      0
Avg Bearer TP DL (kbps)              0
Avg Bearer TP UL (kbps)              0
DL TP < 50 Kbps (%)                  0
50 Kbps < DL TP < 250 Kbps (%)       0
250 Kbps < DL TP < 1 Mbps (%)        0
DL TP > 1 Mbps (%)                   0
UL TP < 10 Kbps (%)                  0
10 Kbps < UL TP < 50 Kbps (%)        0
50 Kbps < UL TP < 300 Kbps (%)       0
UL TP > 300 Kbps (%)                 0
Activity Duration DL (ms)            0
Activity Duration UL (ms)            0
Dur. (ms).1                          0
Handset Manufacturer                 0
Handset Type                         0
Nb of sec with Vol DL < 6250B        0
Nb of sec with Vol UL < 1250B        0
Social Media DL (Bytes)              0
Social Media UL (Bytes)              0
Google DL (Bytes)                    0
Google UL (Bytes)                    0
Email DL (Bytes)                     0
Email UL (Bytes)                     0
Youtube DL (Bytes)                   0
Youtube UL (Bytes)                   0
Netflix DL (Bytes)                   0
Netflix UL (Bytes)                   0
Gaming DL (Bytes)                    0
Gaming UL (Bytes)                    0
Other DL (Bytes)                     0
Other UL (Bytes)                     0
Total UL (Bytes)                     0
Total DL (Bytes)                     0
dtype: int64

- imputing the rest of the missing values does not make sense cause all of them are unique numbers so instead i drop

In [72]:
df_clean = df_clean.dropna(subset=['Last Location Name', 'MSISDN/Number'])

In [ ]:
df_clean.isna().sum()

In [73]:
df_clean.shape

(148346, 45)

In [74]:
df_clean['Start'] = pd.to_datetime(df_clean['Start'])
df_clean['End'] = pd.to_datetime(df_clean['End'])

In [75]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148346 entries, 0 to 149999
Data columns (total 45 columns):
Bearer Id                         148346 non-null float64
Start                             148346 non-null datetime64[ns]
Start ms                          148346 non-null float64
End                               148346 non-null datetime64[ns]
End ms                            148346 non-null float64
Dur. (ms)                         148346 non-null float64
IMSI                              148346 non-null float64
MSISDN/Number                     148346 non-null float64
IMEI                              148346 non-null float64
Last Location Name                148346 non-null object
Avg RTT DL (ms)                   148346 non-null float64
Avg RTT UL (ms)                   148346 non-null float64
Avg Bearer TP DL (kbps)           148346 non-null float64
Avg Bearer TP UL (kbps)           148346 non-null float64
DL TP < 50 Kbps (%)               148346 non-null float64
50 Kbps < DL TP < 250 Kbps (%)    148346 non-null float64
250 Kbps < DL TP < 1 Mbps (%)     148346 non-null float64
DL TP > 1 Mbps (%)                148346 non-null float64
UL TP < 10 Kbps (%)               148346 non-null float64
10 Kbps < UL TP < 50 Kbps (%)     148346 non-null float64
50 Kbps < UL TP < 300 Kbps (%)    148346 non-null float64
UL TP > 300 Kbps (%)              148346 non-null float64
Activity Duration DL (ms)         148346 non-null float64
Activity Duration UL (ms)         148346 non-null float64
Dur. (ms).1                       148346 non-null float64
Handset Manufacturer              148346 non-null object
Handset Type                      148346 non-null object
Nb of sec with Vol DL < 6250B     148346 non-null float64
Nb of sec with Vol UL < 1250B     148346 non-null float64
Social Media DL (Bytes)           148346 non-null float64
Social Media UL (Bytes)           148346 non-null float64
Google DL (Bytes)                 148346 non-null float64
Google UL (Bytes)                 148346 non-null float64
Email DL (Bytes)                  148346 non-null float64
Email UL (Bytes)                  148346 non-null float64
Youtube DL (Bytes)                148346 non-null float64
Youtube UL (Bytes)                148346 non-null float64
Netflix DL (Bytes)                148346 non-null float64
Netflix UL (Bytes)                148346 non-null float64
Gaming DL (Bytes)                 148346 non-null float64
Gaming UL (Bytes)                 148346 non-null float64
Other DL (Bytes)                  148346 non-null float64
Other UL (Bytes)                  148346 non-null float64
Total UL (Bytes)                  148346 non-null float64
Total DL (Bytes)                  148346 non-null float64
dtypes: datetime64[ns](2), float64(40), object(3)
memory usage: 52.1+ MB

In [ ]:
data = df_clean

In [76]:
data.shape

(148346, 44)

In [ ]:
data.info()

In [ ]:
data.info()

In [77]:
def convert_bytes_to_megabytes(df, cols):
    """
        This function takes the dataframe and the column which has the bytes values
        returns the megabytesof that value
        
        Args:
        -----
        df: dataframe
        bytes_data: column with bytes values
        
        Returns:
        --------
        A series
    """
    for col in cols:      
        megabyte = 1*10e+5
        df[col] = df[col] / megabyte
    
    return df
cols = ['Social Media DL (Bytes)','Social Media UL (Bytes)','Google DL (Bytes)','Google UL (Bytes)','Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)', 'Netflix DL (Bytes)','Netflix UL (Bytes)','Gaming DL (Bytes)',
       'Gaming UL (Bytes)','Other DL (Bytes)', 'Other UL (Bytes)', 'Total UL (Bytes)', 'Total DL (Bytes)']
df_clean = convert_bytes_to_megabytes(df_clean, cols)

In [ ]:
data.head()

In [ ]:
def drop_duplicate(df):
        """
        drop duplicate rows
        """
        df.drop_duplicates(inplace=True)

        return df
data = drop_duplicate(data)

In [82]:
df_clean.shape

(148346, 44)

In [81]:
#droping this column cause its a duplicate of dur (ms) in millseconds
df_clean = df_clean.drop('Dur. (ms).1', axis = 1)

In [80]:
data.shape

(148346, 44)

In [ ]:
df_clean.columns.tolist()

In [ ]:
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

def scaler(df, columns):
    minmax_scaler = MinMaxScaler(copy=True, feature_range=(-1, 1))
    return pd.DataFrame(minmax_scaler.fit_transform(df, columns))

cols = ['Start ms','End ms','Dur. (ms)','Avg RTT DL (ms)','Avg RTT UL (ms)','Avg Bearer TP DL (kbps)',
'Avg Bearer TP UL (kbps)','DL TP < 50 Kbps (%)','50 Kbps < DL TP < 250 Kbps (%)','250 Kbps < DL TP < 1 Mbps (%)',
'DL TP > 1 Mbps (%)','UL TP < 10 Kbps (%)','10 Kbps < UL TP < 50 Kbps (%)','50 Kbps < UL TP < 300 Kbps (%)','UL TP > 300 Kbps (%)',
        'Activity Duration DL (ms)','Activity Duration UL (ms)','Nb of sec with Vol DL < 6250B','Nb of sec with Vol UL < 1250B','Social Media DL (Bytes)',
        'Social Media UL (Bytes)','Google DL (Bytes)','Google UL (Bytes)','Email DL (Bytes)','Email UL (Bytes)','Youtube DL (Bytes)','Youtube UL (Bytes)',
         'Netflix DL (Bytes)','Netflix UL (Bytes)','Gaming DL (Bytes)','Gaming UL (Bytes)','Other DL (Bytes)','Other UL (Bytes)',
     'Total UL (Bytes)','Total DL (Bytes)']   
scaler(data, cols)

In [ ]:
from sklearn.preprocessing import Normalizer

def normalizer(df, cols):
    norm = Normalizer()
    return pd.DataFrame(norm.fit_transform(df, cols)

normalizer(data, cols)

In [83]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148346 entries, 0 to 149999
Data columns (total 44 columns):
Bearer Id                         148346 non-null float64
Start                             148346 non-null datetime64[ns]
Start ms                          148346 non-null float64
End                               148346 non-null datetime64[ns]
End ms                            148346 non-null float64
Dur. (ms)                         148346 non-null float64
IMSI                              148346 non-null float64
MSISDN/Number                     148346 non-null float64
IMEI                              148346 non-null float64
Last Location Name                148346 non-null object
Avg RTT DL (ms)                   148346 non-null float64
Avg RTT UL (ms)                   148346 non-null float64
Avg Bearer TP DL (kbps)           148346 non-null float64
Avg Bearer TP UL (kbps)           148346 non-null float64
DL TP < 50 Kbps (%)               148346 non-null float64
50 Kbps < DL TP < 250 Kbps (%)    148346 non-null float64
250 Kbps < DL TP < 1 Mbps (%)     148346 non-null float64
DL TP > 1 Mbps (%)                148346 non-null float64
UL TP < 10 Kbps (%)               148346 non-null float64
10 Kbps < UL TP < 50 Kbps (%)     148346 non-null float64
50 Kbps < UL TP < 300 Kbps (%)    148346 non-null float64
UL TP > 300 Kbps (%)              148346 non-null float64
Activity Duration DL (ms)         148346 non-null float64
Activity Duration UL (ms)         148346 non-null float64
Handset Manufacturer              148346 non-null object
Handset Type                      148346 non-null object
Nb of sec with Vol DL < 6250B     148346 non-null float64
Nb of sec with Vol UL < 1250B     148346 non-null float64
Social Media DL (Bytes)           148346 non-null float64
Social Media UL (Bytes)           148346 non-null float64
Google DL (Bytes)                 148346 non-null float64
Google UL (Bytes)                 148346 non-null float64
Email DL (Bytes)                  148346 non-null float64
Email UL (Bytes)                  148346 non-null float64
Youtube DL (Bytes)                148346 non-null float64
Youtube UL (Bytes)                148346 non-null float64
Netflix DL (Bytes)                148346 non-null float64
Netflix UL (Bytes)                148346 non-null float64
Gaming DL (Bytes)                 148346 non-null float64
Gaming UL (Bytes)                 148346 non-null float64
Other DL (Bytes)                  148346 non-null float64
Other UL (Bytes)                  148346 non-null float64
Total UL (Bytes)                  148346 non-null float64
Total DL (Bytes)                  148346 non-null float64
dtypes: datetime64[ns](2), float64(39), object(3)
memory usage: 50.9+ MB

In [84]:
# save the cleaned data to a csv file
df_clean.to_csv("../data/cleaned_data.csv")

In [ ]:
def fix_outlier(df, column):
    df[column] = np.where(df[column] > df[column].quantile(0.95), df[column].median(),df[column])
    
    return df[column]